.jobs {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: jobs-appear 1s ease-out forwards;
}

.jobs h2 {
  color: #ffffff;
  font: inherit;
  font-size: 1.5rem;
}

.jobs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.loadingJobs {
  text-align: center;
  color: white;
}

.jobsError {
  text-align: center;
  color: red;
}

@keyframes jobs-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
