* {
  box-sizing: border-box;
}
.card {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #303f6080;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 40% auto;
  color: white;
  width: 302px;
  height: 159px;
  align-items: center;
}

.cardDetails {
  padding: 1rem;
}

.name {
  font-size: 1rem;
  text-align: left;
  font: inherit;
  letter-spacing: 0px;
  color: #303f60;
}

.email {
  text-align: left;
  font: inherit;
  letter-spacing: 0px;
  color: #303f60;
  opacity: 0.8;
}

.cardAvatar {
  display: grid;
  place-items: center;
}

.cardAvatar img {
  width: 65%;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  text-align: left;
  font: inherit;
  letter-spacing: 0px;
  color: #303f60;
}

.skills label {
  opacity: 1;
  font-size: 0.85rem;
}

.value {
  margin-top: 0.15rem;
  font-size: 0.85rem;
  line-height: 1.25rem;
  opacity: 0.8;
}
