.applicants {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 40rem;
  overflow: auto;
}

.applicants h2 {
  color: #303f60;
}

.applicants h3 {
  width: 138px;
  height: 17px;
  text-align: left;
  font: inherit;
  letter-spacing: 0px;
  color: #303f60;
  opacity: 1;
}

.applicants ul {
  border-radius: 10px;
  opacity: 0.2;
  padding: 20px 0;
}

.applicants button {
  float: right;
  color: black;
  font: bold;
  border: 1px solid #43afff;
  background: #e3f3ff 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.applicantsError {
  text-align: center;
  color: red;
}
