.job {
  justify-content: space-between;
  margin: 1rem;
  /* padding-bottom: 1rem; */
  color: #303f60;
}

.job h3 {
  margin: 0 0 0.25rem 0;
}

.splitButton button {
  background: #43afff33 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: transparent;
  width: 125px;
  height: 32px;
  color: #303f60;
  cursor: pointer;
  float: right;
}

.splitButton {
  margin: 15px 0;
}

.location {
  margin-top: 0.55rem;
  opacity: 0.8;
  margin-right: 5px;
  float: left;
}

.card {
  padding: 1rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #557da526;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 10px;
  width: 260px;
  height: 162px;
  overflow: hidden;
}
