.background {
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background: #d9efff 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  position: relative;
  top: -10px;
}

.background p {
  font-size: 25px;
  color: #303f60;
  opacity: 0.8;
  text-align: center;
  position: relative;
  top: 9px;
}
