.container {
  padding: 64px;
}

.container::after {
  margin-bottom: 10px;
  content: "";
  display: table;
  clear: both;
}

/* section1 */

.starting {
  margin: 3rem auto;
  text-align: left;
  position: relative;
}

.starting h1 {
  font-size: 4rem;
  text-align: left;
  margin: 0;
  color: white;
}

.starting button {
  padding: 14px 28px;
  cursor: pointer;
  background: #43afff 0% 0% no-repeat padding-box;
  border: 1px solid #43afff;
  border-radius: 5px;
  margin-top: 20px;
}

.colorBlue {
  color: #43afff;
}

.starting button a {
  text-decoration: none;
  color: white;
  font: inherit;
}

.starting img {
  width: 622px;
  display: block;
  height: auto;
  max-width: 100%;
  background: transparent 0% 0% no-repeat padding-box;
  box-shadow: 0px 30px 36px #557da526;
  border-radius: 20px;
}

.column50 {
  float: left;
  width: 50%;
  padding: 20px;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .column50 {
    width: 100%;
    text-align: center;
  }
  .starting img {
    margin: auto;
  }
}

/*  section 2 */

.row {
  margin: 0 15rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.rowHeading {
  margin-left: 15px;
  font: inherit;
  font-size: 20px;
}

.columnA,
.columnB,
.columnC {
  float: left;
  width: 31%;
  padding: 15px;
  text-align: justify;
  font: inherit;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: white;
  margin-left: 20px;
  overflow: hidden;
}
.heading {
  text-align: left;
  font: inherit;
  letter-spacing: 0px;
  color: #43afff;
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  .columnA,
  .columnB,
  .columnC {
    /* width: 50%; */
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.ending img {
  width: 622px;
  display: block;
  height: auto;
  max-width: 100%;
  background: transparent 0% 0% no-repeat padding-box;
  box-shadow: 0px 30px 36px #557da526;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
