.resetPassword {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: left;
  color: #303f60;
}

.resetPassword h1 p {
  text-align: left;
  color: #303f60;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: inline-block;
  color: #303f60;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  color: #303f60;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
  background: #e8e8e833 0% 0% no-repeat padding-box;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  opacity: 1;
}

.control input:focus {
  border-color: #43afff;
}

::placeholder {
  opacity: 0.4;
}

.actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  padding: 0.5rem 2.5rem;
  background: #43afff 0% 0% no-repeat padding-box;
  border: 1px solid #43afff;
  border-radius: 5px;
}

.actions button:hover {
  background-color: #77c2fc;
  border-color: #77c2fc;
}

.errorText {
  color: #ff0000;
  text-align: right;
  font-size: 0.7rem;
  letter-spacing: 0px;
  opacity: 0.8;
  margin-top: 1px;
}

.invalid input {
  display: block;
  border: 1px solid #ff333380;
  background: #e8e8e833 0% 0% no-repeat padding-box;
  margin-top: 5px;
  font: inherit;
  color: #303f60;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
  border-radius: 5px;
  opacity: 1;
}

.invalid input:focus {
  display: block;
  border-color: #ff8800;
  background-color: #fbe8d2;
}
